* {
    border: solid red 4px;
}

.main,
#container,
.choice,
.Score,
h1,
#Result,
.bg,
.res {
    margin: 15px;
    font-family: monospace
}

.Score {
    font-size: 0.5cm;
}

.res {
    font-size: 1cm;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    ;
}


img {
    height: 50%;
    width: 50%;
}

.bg {

    width: fit-content;
}

h1 {
    font-family: Arial Black;
    font-weight: bolder;
    color: white;
    background-color: white;
    background: rgb(59, 38, 40);
    mix-blend-mode: overlay;
    padding: 15px;
    margin: 20px;
    text-shadow: 2px 0 #000000, -2px 0 #fff, 0 2px #000000, 0 -2px #000000,
        1px 1px #fff, -1px -1px #000000, 1px -1px #000000, -1px 1px #fff;
    text-decoration: aliceblue;
    font-size: 1.2cm;
    border-radius: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    width: 15cm;
    text-align: center;
}

.choice {
    font-size: x-large;
}

#Result {
    text-shadow: #000000 20px, 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    border-radius: 50vh;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: 4px solid rgb(46, 42, 42);
    box-shadow: 10px 5px 5px black;
}

.Score {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 45vh;
    justify-content: center;
    width: 10cm;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    border: 2px solid rgb(50, 50, 3);
}


#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border: solid green 2px;
}

.choice {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Score {
    width: 20%;
}

.res {
    /* background-image: linear-gradient(rgb(9, 151, 179),white); */
    background-color: rgb(5, 128, 216);
    color: aqua;
    border-radius: 50vh;
    margin: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px 5px;

}

.choice,
.Comp,
.User {
    font-size: xx-large;
}

.bck {
    background-repeat: no-repeat;
}

img{
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .bg{
        display: flex;
        justify-content: center;
    }
    .choice,
    .Comp,
    .User {
        font-size: 2.5vh;
    }
    .choice,.Comp,.User{
        width: 100%;
    }
    .res {
        font-size: small;
    }
    .Score
    {
        width: 75%;
    }
    h1 {
        font-size: 3.2vh;
        width: 50%;
    }
    #Result {
        width: 50%;
        font-size: 1.5vh;
    }
    .middle{
        width: fit-content;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .Score
    {
        padding: 25px;
    }
   html{
    width: 100%;
   }
   img{
    width: 100px;
    height: 100px;
   }
   .img{
    display: flex;
    flex-direction:row;
   }

   #container{
    display: flex;
    flex-direction:column;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
   }
   .rock
   {
    width: 125px;
    height: 125px;
   }
   .res{
    font-size: 2.5vh;
   }
}

@media only screen and (min-width: 600px) {

    .choice{
        font-size: 2.8vh;
    }
    .Comp,
    .User {
        font-size: 0.8cm;
    }
    .choice,.Comp,.User{
        width: 100%;
    }
    .res {
        font-size: small;
    }
    .Score
    {
        width: 75%;
    }
    h1 {
        font-size: 0.8cm;
        width: 50%;
    }
    #Result {
        width:45%;
        font-size: 3.3vh;
    }
    .middle{
        width: fit-content;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Score
    {
        padding: 25px;
    }
   html{
    width: 100%;
   }
   img{
    width: 100px;
    height: 100px;
   }
   .img{
    display: flex;
    flex-direction:row;
   }

   #container{
    display: flex;
    flex-direction:column;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    height: 100%;
   }
   .rock
   {
    width: 125px;
    height: 125px;
   }
   .bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .res
   {
    font-weight: bolder;
    font-size: 3.0vh;
   }
   
}
@media only screen and (min-width: 992px) 

{
    #container{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 40vh;
        height:40vh;
    }

}





